= image_tag "unconfirmation.png", class: "unconfirmation-img"
.unconfirmation-wrapper
    .title Unconfirmation Account
    .content You need to verify your account by accessing the link we have sent to the email you provided
