@import "../../mixins/input_style.scss";
@import "../../mixins/clinic_layout.scss";
@import "../../mixins/responesive.scss";

.clinic-patients-wrapper {
    .show-panel {
        background: #fff;
        width: 99%;
        height: calc(100vh - 140px);
        margin-top: 1%;
        border-radius: 5px;
        padding: 15px;
        box-sizing: border-box;
        overflow-y: scroll;

        .title {
            font-size: 28px;
            font-weight: bold;
            color: #1465f2;
            border-bottom: 1px solid #1465f2;
        }

        >* {
            width: 90%;
            margin: 10px 0;
            text-align: start;


            >label {
                text-align: start;
                vertical-align: top;
                font-size: 16px;
                font-weight: bold;
            }

            >span {
                font-size: 16px;
                font-weight: 200;
            }
        }

        table {
            width: 100%;

            td,
            th {
                line-height: 2;
                text-align: left;
            }
            td {
                font-weight: 200;
            }

            .detail>a {
                @include buntton_style_detail;
                text-decoration: none;
            }
        }
    }

}
