$setup_img: image-url("clinic_wallpaper.jpg");

@mixin setup-wrapper-clinic {
    margin: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    background: $setup_img;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@mixin new-panel {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    border-radius: 10px;
    width: 99%;
    height: calc(100vh - 140px);
    background: rgba(229, 229, 229, 0.7);
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;

    >* {
        margin-bottom: 15px;
    }

    >.title {
        font-size: 32px;
        font-weight: bold;
    }
}

@mixin title-details-h1 {
    font-size: 24px;
    font-weight: bold;
    flex-basis: 100%;
    margin: 20px 0;
    color: #1465f2;
    border-bottom: 1px solid #1465f2;
}
@mixin content-item {
    display: flex;
    border-bottom: 1px solid #d3d3d3;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

