@mixin full-wrapper($background) {
    margin: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    background: $background;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
}

@mixin basic-form($direction, $align, $justify, $width) {
    width: $width;
    background-color: #ffffff;
    padding: 20px 30px 20px 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin logo {
    margin-top: 5%;
    padding: unset;
    font-size: 48px;
    font-weight: bold;
    margin-left: 30px;

    span {
        color: #0cbecd;
    }

    label {
        color: #00fc85;
    }
}
