    $setup_img: image-url("authen_background.jpg");

    @mixin setup-wrapper {
        margin: 0;
        position: absolute;
        top: 0;
        width: 100vw;
        min-height: 100vh;
        background: $setup_img;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
