.medical-resources-management-wrapper
  .title = "#{t('medical_resource.basic.medical_resource_management')}"
  .controll-panel
    .left
        = link_to "#{t('back')}", admin_medical_resources_path, class: "back"
  .new-panel
    .title = "#{t('medical_resource.basic.new_medical_resource')}"
    = render "admin/medical_resources/form"
