@import "../../mixins/input_style.scss";
@import "../../mixins/responesive.scss";
@import "../../mixins/layout.scss";
$logo: image-url("logo.png");
$menu: image-url("icon_menu.png");

.navbar-wrapper {


    >.topbar {
        border-bottom: 1px solid #E8EEE4;

        .site-info a {
            display: inline-flex;
            align-items: center;
            color: #A1AAA7;
        }

        .site-info .divider {
            margin-left: 8px;
            margin-right: 8px;
            color: #BEC8B8;
        }

        >.container {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;

            >.info-wrapper {
                position: relative;
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
            }
        }
    }

    >.menu-wrapper {
        @include mobile {
            -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -ms-flex-pack: start;
            justify-content: flex-start;

        }

        min-height: 70px;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.07);
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0.5rem 1rem;

        >.container {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: justify;
            justify-content: space-between;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;

            >.logo {
                font-size: 32px;
                font-weight: bold;
                margin-left: 30px;
                cursor: pointer;

                >span {
                    color: #0cbecd;
                    cursor: pointer;
                    margin: 0 !important;
                }

                >label {
                    color: #00fc85;
                    cursor: pointer;
                    margin: 0 !important;

                }

                @include mobile {
                    font-size: 24px;
                }

            }

            >.navbar-toggler {
                display: none;
                padding: 0.25rem 0.75rem;
                font-size: 1.25rem;
                line-height: 1;
                background-color: transparent;
                border: 1px solid transparent;
                border-radius: 0.25rem;
                overflow: visible;
                margin: 0;
                @include navbar_icon($menu);

                @include mobile {
                    display: flex;
                    margin-right: 5%;
                }

            }

            >.list-wrapper {
                display: flex !important;
                -ms-flex-preferred-size: auto;
                flex-basis: auto;
                -ms-flex-positive: 1;
                flex-grow: 1;
                -ms-flex-align: center;
                align-items: center;

                @include mobile {
                    flex-basis: 100%;
                }

                >.list {
                    align-items: center;
                    margin-top: 0;
                    border-top: none;
                    flex-direction: row;
                    flex-shrink: 0;
                    margin-left: auto !important;
                    display: -ms-flexbox;
                    display: flex;
                    padding-left: 0;
                    margin-bottom: 0;
                    list-style-type: none;

                    @include mobile {
                        flex-direction: column;
                    }

                    .nav-item {
                        padding-right: 16px;
                        padding-left: 16px;
                        list-style-type: none;


                        >a {
                            text-decoration: none;
                        }

                        &:hover {
                            font-weight: 500;
                            color: #00D9A5;
                        }
                    }


                    .nav-item.active {
                        font-weight: 500;
                        color: #00D9A5;
                    }

                    .nav-item.login-navbar {
                        border-radius: 5px;
                    }


                }
            }
        }
    }







}
