footer.page-footer
    .container
        .row.px-md-3
            .footer-item
                h5
                | Company
                ul.footer-menu
                    li
                        a[href="#"]
                        | About Us
                    li
                        a[href="#"]
                        | Career
                    li
                        a[href="#"]
                        | Editorial Team
                    li
                        a[href="#"]
                        | Protection

            .footer-item
                h5
                | Our partner
                ul.footer-menu
                    li
                        a[href="#"]
                        | One-Fitness
                    li
                        a[href="#"]
                        | One-Drugs
                    li
                        a[href="#"]
                        | One-Live
            .footer-item
                h5
                | Contact
                p.footer-link.mt-2
                | 351 Willow Street Franklin, MA 02038
                a.footer-link[href="#"]
                | 701-573-7582
                a.footer-link[href="#"]
                | healthcare@temporary.net

