.title-bar-admin-wrapper

    .user-info
        .dropdown-button[data-controller="toggle"  data-action="click->toggle#admin"]

        = button_to "Logout" , destroy_user_session_path,  method:  :delete,class: "logout", form_class: "logout-form", data: { turbo: false }
