@import "../mixins/input_style.scss";
@import "../mixins/layout.scss";
$login_backround: image-url("authen_background.jpg");
@import "../mixins/responesive.scss";

.login-wrapper {
    @include full-wrapper($login_backround);
    @include mobile {
        justify-content: center;
        align-items: flex-end;
    }
    .form-wrapper {
        @include basic-form(column, center, center, 35%);
        @include mobile {
            @include full-form(column, center, center, 90%);
        }


        h2 {
            font-size: 40px;
            background: linear-gradient(90deg, #00fc85, #0cbecd);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            font-weight: bold;
        }
        form {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 90%;
            * {
                width: 100%;
                height: auto;
                margin-bottom: 15px;
            }
            .actions {
                display: flex;
                justify-content: center;
                align-items: center;
                input {
                    @include button_style_submit;
                }
                input:hover {
                    background: #0b99a3;
                }
            }
            .field {
                label {
                    font-size: 18px;
                }
                #user_email:focus {
                    outline: none;
                }
                #user_password:focus {
                    outline: none;
                }
                #user_email {
                    @include input_format;
                }
                #user_password {
                    @include input_format;
                }
                input[type="checkbox"] {
                    width: auto;
                }
            }
        }
    }
    a {
        color: #0cc0cc;
    }
}
